*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}




@font-face {
    font-family:"skate";
    src: url(../fuentes/HELTSN__.TTF);
} 

@font-face {
    font-family:"urban";
    src: url(../fuentes/Urban_slick.ttf);
} 

a{
    /* con esto quita estilos a las anclas <a> */
    text-decoration: none;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    padding: 45px, 0px, 45px, 0px;
}

.logo img{
    width: 150px;
    height: 100px;
}


.header{
    display: flex;
    background-color: #148F77;
    
}


.menu-nav{
    width: 70%;
    display: flex;
    justify-content: center; /* alineado horizontal centrado */
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}



.container-nav{
    width: 80%;
    display: flex;
}

.menu a{
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    font-weight: 900;
    color: #3a2d2d;
}

.menu a:hover{
    color: #E8F8F5;
}

.menu-social ul{
    list-style: none;
    display: flex;
}

.social-media i{
padding: 25px;
font-size: 25px;
color: #fff;
}

.social-media i:hover{
    color: #17202A;
}

.social-media{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    background-image: url(../img/fondo-3.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1{
    color: #080808;
    background-color:#ffffff ;
    padding: 20px;
    font-family: "skate", normal;
}

img{
    max-width: 100%;
    display: flex;
    justify-content:center;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5%;
} 
.items{
    border-radius: 15px;
    background-color: white;
    
}
.items:hover{
    box-shadow: 0 10px 20px #050505;  
}

.items img{
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.items figure{
    overflow: hidden;
}
.items:hover img{
     transform: scale(1.2);
}
.info{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.price{
    font-size: 18px;
    font-weight: 900;
}
.info button{
    border-radius: none;
    background: none;
    background-color:  #148F77;
    color: #070606;
    padding: 15px 10px;
   cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info button:hover{
    box-shadow: 0 10px 20px #000;  
}



footer{
    display: flex;
    background-color: #148F77;
    padding: 0px 25px 0px 25px;
}

.info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  /* alineado vertical */
    justify-content: center; /* alineado horizontal */
}

.info h4{
    color: #fff;
    text-align: center;
    width: 100%;
}

.img-mobile{
    display: none;
}
.img-desktop{
    display: block;
}

@media only screen and (max-width: 768px) {
    .logo{
        width: 100%;
        position: relative;
        z-index: 999;
        background-color:#148F77;
    }

    .menu-nav{
        width: 100%;
    }
    .social-media{
        width: 100%;
    }
    .menu{
        display: block;
    }

    .menu li{
        text-align: center;
        margin: 10px 0px;
    }

    .hero{
        height: 250px;
        background-position: left center;
    }
    .icono-menu{
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 8px 10px 8px 10px;
    }
    .container-nav{
        width: 100%;
        display: block;
        position: absolute;
        top: -200px;
        background-color:#148F77;
        transition: 1s ease top;
    }

    .container-nav-2{
        top: 117px;

    }


    footer{
        flex-wrap: wrap;
    }

    .first-box{
        display: block;
    }

    .first-box img{
        width: 100%;
        padding: 0px;
    }

    .img-mobile{
        display: block;
    }
    .img-desktop{
        display: none;
    }

    .info{
        width: 100%;
    }

}